<ion-view>
    <ion-content ng-controller="filterSearchCtrl">
        <div class="bar bar-header bar-light">
      <h3 class="right">تصفيه البحث</h3>
      <a href="#/modetElr7la"><i id="left" class="icon ion-chevron-left"></i> </a>
    </div>
        <div class="card">
            <h5><b>التاريخ</b></h5>
            <small>اختار</small>

            <h5>النطاق الزمني</h5>
            <div class="list">
                <div class="item range range-positive">
                    <small>00:00</small>
                <input type="range" id="time" steps="1" name="volume" min="0" max="100" value="33">
                
                
                    <small>23:59</small>
                </div>
            </div>
        </div>
        <div class="card">
            <h5><b>المقاعد</b></h5>
            <small>اختار</small>

            <h5> السعر لكل راكب</h5>
            <div class="list">
                <div class="item range range-positive">
                    <small>0</small>
                    <input type="range" name="volume" min="0" max="100">
                    <small>100</small>
                </div>
            </div>
        </div>
        <div class="card">
            <h5><b>الوقت المتفق علية</b></h5>
            <small>الكل</small>
        </div>
        <div class="card">
            <ul class="list">
                <li class="item item-checkbox">
                    <label style="float:left;">
                        <input type="checkbox" id="x">
                    </label>
                    اخفاء السائقين الذين ليس لديهم صورة
                </li> 

                <li class="item item-checkbox">
                    <label style="float:left;">
                        <input type="checkbox" id="y">
                    </label>
                    اخفاء الرحلات الكاملة
                </li> 
            </ul>
        </div>

        <button class="col-90 button button-full button-positive">
            فعل التصفية
        </button>
    </ion-content>
</ion-view>