    <ion-view view-title="Browse">
  <ion-content>
<img class="main-img" src="../img/tutorial.png" >
      <div id="mainPage-content">
      <h3 class="mainPage-text">هل تريد ذهاب امكان؟</h3>
      <h4 class="mainPage-text">معنا رحلتك اسهل</h4>
        
        <div class="col-demo"> 
          <a href="#/app/takeDrive" class="button button-full button-positive m-but">
      اطلب مواصلة
           </a>
           <br>
         <a class="button button-full button-light m-but" href="#/app/searchRide">
      ابحث عن مواصلة
          </a>
        </div>
        
     </div>
    <div class="tabs tabs-icon-top tab-list">
  <a class="tab-item" href="#/app/takeDrive">
    <i class="icon ion-ios-plus-outline" ></i>
    اطلب مواصلة
  </a>
  <a class="tab-item">
    <i class="icon ion-android-car"></i>
    رحلتك السابقة
  </a>
  <a class="tab-item" href="#/app/searchRide">
    <i class="icon ion-ios-search"></i>
    ابحث عن مواصلة
  </a>
</div>
  </ion-content>
</ion-view>
