<ion-view>
  <ion-content>
    <!-- مدة الرحلة-->
    <div class="bar bar-header bar-light">
      <h3 class="right"> لندن>> مانشستر</h3>
      <a href="#/app/searchRide"><i id="left" class="icon ion-chevron-left"></i> </a>
    </div>
    <div class="container">
      <div class="content has-header padding">
        <h5 class="right">مدة الرحلة</h5>
        <h5 class="left">من</h5>
        <br>
        <h5><b>4 ساعات و 15 دقيقة</b></h5>
      </div>
    </div>

    <br><br>
    <div class="bar bar-positive" style="position: initial;">
      <h5 class="new-bar"> 26 فبراير 2016 </h5>
    </div>

    <div class="list">
      <!--repet-this-part-->
      <div class="row padding-right">
        <div class="col col-75">
          <h6>مانشستر 18:00</h6>
          <h6>لندن 20:00</h6>
          <h6><small>باقي 2 مقعد فقط</small></h6>
        </div>
        <div class="col">
          <p class="item item-icon-lef border">15 ريال</p>
        </div>
      </div>
      <a class="item item-thumbnail-right" href="#">
        <img src="../img/driver.png">
        <h2><b>امجد امين - 27 سنة</b></h2>
        <p class="item item-icon-right border"><i class="icon ion-star"></i>تقيم 4.7/5</p>
       <!-- <i id="left" class="icon ion-ios-pulse-strong"></i>-->
      </a>
      <!--==================================-->



    </div>
  </ion-content>
</ion-view>
