<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">reg</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <!-- registration-word -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center" style="color:#177ee7;">سجل الان</h1>
    </div>
  </div>
</div>
      <div class="container">

<!-- facebook-button -->
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">

    <a class="btn btn-block btn-social btn-facebook" style="text-align:right;" >
   <span class="fa fa-facebook" ></span>
   <span style="padding-right:2%; font-size:18px;">
        تسجيل الدخول عن طريق الفيسبوك
   </span>
    </a>
    </div>
  </div>

 <!--او sperated-->
  <table width="200" border="0" align="center">
  <tbody>
    <tr>
      <td style="width:47%;"><hr></td>
      <td style="width:15%; text-align:center; color:#5d5d5d; font-size:18px;">او</td>
      <td style="width:47%;"><hr></td>
    </tr>
  </tbody>
</table>
    <form  name="login" novalidate>
  <div class="row">
    <input type="text" ng-model="firstname" name="firstname"  ng-minlength="3" placeholder="الاسم" style="border:none; color:#5d5d5d;
    font-size:18px;" required> <hr>
    <div class="error-msg"ng-show="login.firstname.$error.minlength" style="color:#177ee7; float:left;">يجب ان يكون الاسم مكون من 3 احرف على الاقل </div>
     </div>



  <div class="row">
    <input type="text" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="email" name="email" placeholder="البريد الالكتروني" style="border:none; color:#5d5d5d;
    font-size:18px;" required>
      <hr>
  <div class="error-msg" style="color:#177ee7; float:left;" ng-show="login.email.$error.$invalid && !login.email.$pristine">رجاء استخدام بريد الكتروني مفعل</div>

  </div>

   <div class="row">
    <input type="text" name="password" ng-model="password"  ng-minlength="6" placeholder="كلمة المرور" style="border:none; color:#5d5d5d; font-size:18px;"
    required>
    <hr>
    <div class="error-msg" ng-show="login.password.$error.minlength" style="color:#177ee7; float:left;">6 احرف علي الاقل</div>
  </div>

   <div class="row">
    <input type="text" name="password2" ng-model="password2" ng-match="password" placeholder=" تاكيد كلمة المرور" style="border:none; color:#5d5d5d; font-size:18px;">
     <hr>
    <div class="error-msg" ng-show="login.password2.$error.match">كلمه المرور غير متطابقه</div>
  </div>
 	<div class="row" style="display: inline-flex;">
    <div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" ng-model="gender" name="gender" id="inlineRadio1" value="male"> ذكر
  </label>
</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" ng-model="gender"  name="gender" id="inlineRadio2" value="female"> انثي
  </label>
</div>

    </div>
<div class="row">
  	<button class="btn btn-primary btn-block" ng-click="doReg(firstname,password,email,gender)"  ng-disabled="login.$invalid" role="button" style="background-color::#177ee7;">تسجيل</button>
  </div>
  <p>Output Message : {{gender}}</p>
          <p>StatusCode: {{statusval}}</p>
          <p>Status: {{statustext}}</p>
          <p>Response Headers: {{headers}}</p>
    </form>
     <p>Output Message : {{gender}}</p>
             <p>StatusCode: {{statusval}}</p>
             <p>Status: {{statustext}}</p>
             <p>Response Headers: {{headers}}</p>
  </ion-content>
</ion-modal-view>
