<ion-view view-title="Search">
  <ion-content>
    <div class="container">
<!-- login-form -->
  <form>
  <div class="row">
    <input type="text" placeholder="كلمة المرور الحالية" style="border:none; color:#5d5d5d; font-size:18px;">
  </div>

  <hr>

  <div class="row">
    <input type="text" placeholder="كلمة المرور الجديدة" style="border:none; color:#5d5d5d; font-size:18px;">
  </div>

  <hr>

    <div class="row">
    <input type="text" placeholder="تاكيد كلمة المرور الجديدة" style="border:none; color:#5d5d5d; font-size:18px;">
  </div>
  <hr>

  <div class="row">
        <a class="btn btn-primary btn-block popup-btn" role="button">تعديل كلمة المرور</a>
      </div>
  </form>

</div>
  </ion-content>
</ion-view>
