<ion-view view-title="Search">
  <ion-content>
    <div class="container">
    <div class="bar bar-header bar-light">
      <h1 class="title">الخصوصية و حماية بيانات المستخدم</h1>
    </div>
    <div class="content has-header padding">
          <h3 class="headline-text">جمع و استخدام المعلومات الشخصية</h3>
  <p>المعلومات الشخصية هي البيانات التي يمكن استخدامها لتحديد هويتك او الاتصال علي اي شخص واحد.</p>
  <p>قد يطلب منك تقديم معلومات الشخصية الخاصة بك في اي وقت كنت في اتصال مع ابل او شركة ابل التابعة لها زابل و الشركات التابعة لها قد تشارك ه\ة المعلومات الشخصية مع بعضها البعض و استخدامها بما يتفق مع سياسة الخصوصية هذة  كما يحق له الجمع  مع غيرها من المعلومات لتوفير و حسين منتجاتنا و الخدمات و المحتوي و الاعلان ليس مطلوبا منك تقدم المعلومات الشخصية التي طلبناها و لكن اذا اخترت عدم القيام بذلك في كثير من الحالات و نحن لن تكون قادلرة علي توفير لكم مع منتجاتنا او الخدمات او الرد علي اي استفسارات قد تكون لديك
  </p>
  <p>وفيما يلي بعض الامثلة علي انواع المعلومات الشخصية ابل قد نجمعها و كيف يمكن ان نستخدمها</p>
    </div>
  <hr>
  <h3 class="headline-text">كيف نستخدم المعلومات الشخصية الخاصة بك</h3>
  <ul class="list">
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">المعلومات الشخصية هي البيانات التي يمكن استخدامهالتحديد هويتك او الاتصال.</li>
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">المعلومات الشخصية هي البيانات التي يمكن استخدامهالتحديد هويتك او الاتصال.</li>
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">المعلومات الشخصية هي البيانات التي يمكن استخدامهالتحديد هويتك او الاتصال.</li>
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">المعلومات الشخصية هي البيانات التي يمكن استخدامهالتحديد هويتك او الاتصال.</li>
  </ul>
  <hr>
  <h3 class="headline-text">ماهي المعلومات الشخصية التي نجمعها</h3>
  <ul class="list">
  <li><img class="list-sqare" src="img/Untitled-1-ma.png"><<>المعلومات الشخصية التى نجمعها تتيح لنا أن نطلعكم على أحدث اعلانات أبل المنتج و تحديثات البرامج, و اﻷحداث القادمة. اذا كنت ﻻ تريد أن تكون فى قائمتنا البريدية فيمكنك الغاء اﻻشتراك فى أى وقت عن طريق تحديث تفضيلاتك<sp
  </li>
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">و نحن أيضا استخدام المعلومات الشخصية لمساعدتنا فى انشاء و تطوير و تشغيل و تسليم,وتحسين منتجاتنا و خدمتنا و المحتوى والاعلان, وﻻغراض الوقاية من فقدان ومكافحة الغش</li>
  <li><img class="list-sqare" src="img/Untitled-1-ma.png">
    قد نستخدم المعلومات الشخصية  الخاصة بك, بما فى تاريخ الميلاد, للتحقق من الهوية, والمساعدة فى تحديد المستخدمين,و تحديد الخدمات المناسبة</li>

  </ul>



      <div class="row">
        <div class="col col-50" ng-controller="AppCtrl">
          <a class="button button-full button-assertive" ng-click="out()">
            رفض
          </a>
        </div>
        <div class="col col-50">
          <a class="button button-full button-balanced" href="#/countries">
            موافق
          </a>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
