<ion-view>
    <ion-content  ng-controller="takedCtrl">
        <!--تاكيد الحجز  ng-controller="takedCtrl"-->
    <div class="list">
      <div id="reservationHead" class="item item-avatar" href="#">
      <h2 id="reservationName">امجد امين 27 سنة</h2>
      <!--../img/driver.png-->
     <img id="reservationImg" src="">
    </div>
     <div class="item item-thumbnail-left" href="#">
         <!--../img/car_03.png-->
      <img src="">
      <h2>امجد امين 27 سنة</h2>
      <p>مانشستر - لندن</p><!--../img/star-y_03.png-->
      <span class="item item-icon-right item-icon-right" href="#">
        <i id="star1" class="icon"><img src=""></i>
        <i id="star2" class="icon"><img src=""></i>
        فورد فياستا
      </span>
    </div>
    <div class="items">
        <h5><b>الحجز الذي قمت به</b></h5>
        <span class="gray2">2 مقعد محجوز لك</span>
    </div>
    <div class="item">
        <div class="card">
        <h5><b>طلب اعادتها</b></h5>
        <input type="time">
        </div>
    </div>
    <div class="item">
        <div class="card">
        <div class="item">
        <span><b>2 مقعد * 48.00$</b></span>
        <span class="left5"><b>48.00$</b></span>
        </div>
        <div class="item">
        <span><b>مصاريف الحجز</b></span>
        <span class="left5"><b>40.00$</b></span>
        </div>
        <div class="item">
        <span><b>الاجمالي</b></span>
        <span class="left5"><b>52.00$</b></span>
        </div>
        </div>
    </div>
    </div>
    <div class="row">
    <button class="col- 90 button button-full button-positive">
    استمرار
    </button>
    </div>
    </ion-content>
</ion-view>